{
    "output_dir":"detext-training",
    "fixed_effect_config":{
        "name":"global",
        "model_type":"detext",
        "ftr_ext":"cnn",
        "elem_rescale":true,
        "ltr_loss_fn":"pointwise",
        "init_weight":"0.1",
        "learning_rate":"0.002",
        "num_classes":"1",
        "max_len":"16",
        "min_len":"3",
        "num_filters":"50",
        "num_train_steps":"1000",
        "num_units":"64",
        "optimizer":"bert_adam",
        "pmetric":"auc",
        "all_metric":"auc",
        "steps_per_stats":"10",
        "steps_per_eval":"100",
        "train_batch_size":"64",
        "test_batch_size":"64",
        "use_deep":true,
        "vocab_file":"movieLens/detext/vocab.txt",
        "resume_training":false,
        "feature_names":"label,doc_query,uid,wide_ftrs_sp_idx,wide_ftrs_sp_val",
        "num_wide_sp":"45",
        "train_file":"movieLens/detext/trainingData/train_data.tfrecord",
        "dev_file":"movieLens/detext/validationData/test_data.tfrecord",
        "test_file":"movieLens/detext/validationData/test_data.tfrecord",
        "metadata_file":"movieLens/per-user/metadata/tensor_metadata.json",
        "input_column_names":{
            "label_column_name":"response",
            "uid_column_name":"uid",
            "weight_column_name":"weight",
            "feature_bag":"global"
        },
        "prediction_score_column_name":"predictionScore",
        "keep_checkpoint_max":"1"
    },
    "random_effect_config":[
        {
            "name":"per-user",
            "action":"train",
            "model_type":"logistic_regression",
            "partition_entity":"user_id",
            "training_data_dir":"movieLens/per_user/trainingData",
            "validation_data_dir":"movieLens/per_user/validationData",
            "feature_file":"movieLens/per_user/featureList/per_user",
            "input_column_names":{
                "label_column_name":"response",
                "uid_column_name":"uid",
                "weight_column_name":"weight",
                "feature_bag":"per_user"
            },
            "prediction_score_column_name":"predictionScore",
            "metadata_file":"movieLens/per_user/metadata/tensor_metadata.json",
            "l2_reg_weight":1.0,
            "regularize_bias":false,
            "num_partitions":1,
            "optimizer":{
                "optimizer_name":"LBFGS",
                "lbfgs_tolerance":1e-12,
                "num_of_lbfgs_iterations":100,
                "num_of_lbfgs_curvature_pairs":10
            },
            "max_training_queue_size":10,
            "num_of_consumers":1,
            "enable_local_indexing":false
        },
        {
            "name":"per-movie",
            "action":"train",
            "model_type":"logistic_regression",
            "partition_entity":"movie_id",
            "training_data_dir":"movieLens/per_movie/trainingData",
            "validation_data_dir":"movieLens/per_movie/validationData",
            "feature_file":"movieLens/per_movie/featureList/per_movie",
            "input_column_names":{
                "label_column_name":"response",
                "uid_column_name":"uid",
                "weight_column_name":"weight",
                "feature_bag":"per_movie"
            },
            "prediction_score_column_name":"predictionScore",
            "metadata_file":"movieLens/per_movie/metadata/tensor_metadata.json",
            "l2_reg_weight":1.0,
            "regularize_bias":false,
            "num_partitions":1,
            "optimizer":{
                "optimizer_name":"LBFGS",
                "lbfgs_tolerance":1e-12,
                "num_of_lbfgs_iterations":100,
                "num_of_lbfgs_curvature_pairs":10
            },
            "max_training_queue_size":10,
            "num_of_consumers":1,
            "enable_local_indexing":false
        }
    ]
}
