{
    "output_dir":"lr-training",
    "fixed_effect_config":{
        "name":"global",
        "action":"train",
        "model_type":"logistic_regression",
        "training_data_dir":"movieLens/global/trainingData",
        "validation_data_dir":"movieLens/global/validationData",
        "copy_to_local":false,
        "feature_file":"movieLens/global/featureList/global",
        "input_column_names":{
            "label_column_name":"response",
            "uid_column_name":"uid",
            "weight_column_name":"weight",
            "feature_bag":"global"
        },
        "prediction_score_column_name":"predictionScore",
        "metadata_file":"movieLens/global/metadata/tensor_metadata.json",
        "l2_reg_weight":1.0,
        "regularize_bias":false,
        "optimizer":{
            "optimizer_name":"LBFGS",
            "lbfgs_tolerance":1e-12,
            "num_of_lbfgs_iterations":100,
            "num_of_lbfgs_curvature_pairs":10
        }
    },
    "random_effect_config":[
        {
            "name":"per-user",
            "action":"train",
            "model_type":"logistic_regression",
            "partition_entity":"user_id",
            "training_data_dir":"movieLens/per_user/trainingData",
            "validation_data_dir":"movieLens/per_user/validationData",
            "feature_file":"movieLens/per_user/featureList/per_user",
            "input_column_names":{
                "label_column_name":"response",
                "uid_column_name":"uid",
                "weight_column_name":"weight",
                "feature_bag":"per_user"
            },
            "prediction_score_column_name":"predictionScore",
            "metadata_file":"movieLens/per_user/metadata/tensor_metadata.json",
            "l2_reg_weight":1.0,
            "regularize_bias":false,
            "num_partitions":1,
            "optimizer":{
                "optimizer_name":"LBFGS",
                "lbfgs_tolerance":1e-12,
                "num_of_lbfgs_iterations":100,
                "num_of_lbfgs_curvature_pairs":10
            },
            "max_training_queue_size":10,
            "num_of_consumers":1,
            "enable_local_indexing":false
        },
        {
            "name":"per-movie",
            "action":"train",
            "model_type":"logistic_regression",
            "partition_entity":"movie_id",
            "training_data_dir":"movieLens/per_movie/trainingData",
            "validation_data_dir":"movieLens/per_movie/validationData",
            "feature_file":"movieLens/per_movie/featureList/per_movie",
            "input_column_names":{
                "label_column_name":"response",
                "uid_column_name":"uid",
                "weight_column_name":"weight",
                "feature_bag":"per_movie"
            },
            "prediction_score_column_name":"predictionScore",
            "metadata_file":"movieLens/per_movie/metadata/tensor_metadata.json",
            "l2_reg_weight":1.0,
            "regularize_bias":false,
            "num_partitions":1,
            "optimizer":{
                "optimizer_name":"LBFGS",
                "lbfgs_tolerance":1e-12,
                "num_of_lbfgs_iterations":100,
                "num_of_lbfgs_curvature_pairs":10
            },
            "max_training_queue_size":10,
            "num_of_consumers":1,
            "enable_local_indexing":false
        }
    ]
}
